@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rubik+Mono+One&display=swap');

*, html, body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container{
    display: flex;
    align-items: center;
    width: 1344px;
    padding: 0 15%;
    margin: 0 auto;
}

#navbar{
    width: 100%;
    background-color: #ECE8E7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar .container{
    font-size: 20px;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: space-between;
}

#navbar .logo-brand{
    text-transform: uppercase;
    font-weight: bolder;
}

#navbar .menu-navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar .menu-navigation > li{
    list-style-type: none;
    padding: 10px;
}

#navbar .menu-navigation .item a{
    color: black;
    font-size: 16px;
    text-decoration: none;
}

#navbar .menu-navigation .button a{
    color: #FFFF;
    background: black;
    display: block;
    padding: 12px;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    border-radius: 10px;
}

#title{
    width: 100%;
    background-color: #ECE8E7;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#title .container{
    height: 555px;
    position: relative;
}

.col-6{
    width: calc(100% / 2);
}

.col-4{
    width: calc(100% / 3);
}

#title .image-desc{
    width: 350px;
    height: 300px;
}

/* #title h1{

} */

#title h4{
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 30px;
}

#title .image-parent{
    position: absolute;
    top: 150px;
    right: 0;
    z-index: 1;
    /* width: 500px;
    height: 700px; */
    /* filter: drop-shadow(30px 10px 4px #4444dd); */
}

#title img{
    width: 500px;
    height: 600px;
}


#title .image-people{
    width: 10%;
    height: 20%;
    position: absolute;
    /* filter: drop-shadow(30px 10px 4px #4444dd); */
}

/* #title .shadow2{
    z-index: 3;
    position: relative;
    z-index: 1;
    filter: drop-shadow(0 -6mm 4mm rgb(160, 0, 210));
}

#title .shadow3{
    z-index: 2;
    position: relative;
    filter: drop-shadow(0 0 0.75rem crimson);
} */

#title .boxsatu{
    position: absolute;
    left: 0px;
    top: 0px;
    filter: drop-shadow(30px -30px 0 orange);
    z-index: 2;
}

#title .boxdua{
    position: absolute;
    left: 0px;
    top: 0px;
    filter: drop-shadow(50px -50px 0 white);
    z-index: 1;
}

#title .title-classic{
    padding-bottom: 30px;
    position: relative;
}

#title .container h1{
    font-size: 58px;
    width: 300px; 
    font-weight: bold;
}

#title .container .title-pad{
    padding-left: 30px;
}

#title .container .title-left{
    margin-bottom: 15px;
}

#title .button{
    float: left;
    display: block;
    width: 150px;
    height: 50px;
}

#title .button-apple{
    margin-right: 20px;
}

#title .title-white-bg{
    background-color: #FFFF;
    width: 250px;
    height: 70px;
    width: 300px;
    position: absolute;
    text-align: center;
    z-index: 1;
    transform: rotateY(0deg) rotate(-2deg);
}

#title .title-white{
    color: black;
    position: absolute;
    padding-left: 30px;
    z-index: 2;
    margin-bottom: 20px;
}



#title .title-orange-bg{
    background-color: orange;
    width: 250px;
    height: 70px;
    width: 350px;
    position: absolute;
    text-align: center;
    z-index: 1;
    transform: rotateY(0deg) rotate(-2deg);
}

#title .title-orange{
    color: black;
    position: absolute;
    padding-left: 30px;
    z-index: 2;
    margin-bottom: 20px;
}

#catalog{
    width: 100%;
    background-color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 700px;
    align-items: center;
}

#catalog .container{
    flex-direction: column;
    align-items: flex-start;
    padding: 0 15%;
    overflow: hidden;
}

#catalog .catalog-collection{
    display: flex;
}

*{
    box-sizing: border-box;
}

/* #catalog .catalog-product{
    margin-right: 20px;
} */

#catalog .catalog-product img{
    height: 400px;
    width: 300px;
    margin-right: 20px;
}

#catalog .container h1{
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    padding-bottom: 50px;
}

#catalog .catalog-product h4{
    padding-top: 20px;
    padding-bottom: 10px;
}

#catalog .catalog-product h5{
    color: #C2C2C2;
    font-weight: lighter;
}

#catalog .product-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;

}

#catalog .product-detail i{
    margin-top: 30px;
}

#sale{
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: orangered;
}

#sale .images img{
    display: flex;
    height: 800px;
    width: 500px;
}

#sale .content {
    padding-left: 90px;
    position: relative;
}

#sale .content-white{
    color: black;
    font-size: 50px;
    font-family: 'Rubik Mono One', sans-serif;
    position: absolute;
    z-index: 2;
    margin-bottom: 30px;
}

#sale h1{
    color: black;
    font-size: 50px;
    font-family: 'Rubik Mono One', sans-serif;
}

#sale .content-bg{
    background-color: #FFFF;
    width: 270px;
    height: 60px;
    position: absolute;
    z-index: 1;
    transform: rotateY(0deg) rotate(-2deg);
}

#sale .content h5{
    font-weight: 100;
    font-size: 18px;
}

#sale .button a{
    color: #FFFF;
    background: black;
    padding: 20px;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    border-radius: 5px;
}

#sale .images{
    position: relative;
    top: -450px;
    z-index: 1;
}

#sale .boxsatu{
    position: absolute;
    left: 0px;
    top: 0px;
    filter: drop-shadow(-30px 30px 0 #F9F8F8);
    z-index: 2;
}

#sale .boxdua{
    position: absolute;
    left: 0px;
    top: 0px;
    filter: drop-shadow(-50px 50px 0 #FFFF);
    z-index: 1;
}






